.endPage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        position: absolute;
        top: 45%;
        direction: rtl;
        font-weight: bold;
        color: #e3e3e3;
    }
}